<% var title = 'Profil' %>
<% include head %>

<style> 
body{
text-align: center;
}

#profil{
font-family: Arial, Sanserif;
font-size:18px;
background: #b3ccff;
position:relative ; 
width:750px; 
padding : 5px ;
border:2px ridge black;
textarea{ vertical-align:top ;  }

}


fieldset{ position:relative ; width:1000px; padding : 5px }
</style> 
<fieldset>
<div id ="profil">
<h1>Page de votre <b>Profil</b></h1>
<div id=""><h2>Bienvenue Mr <%= nom%></h2></div>
<div id="header">
<form id="insc" method="post" action="/inscription" >
<p>
Votre mail : <%= email%>
<br>Votre prenom : <%= prenom%>
<br>Votre photo :  <div id="image"><img src="<%= profilepic%>" width="50" height="50" value="<%= profilepic%>"/></div>
<br>Votre couleur : 

<input type="color" id="couleur" name="couleur" value="<%= couleur%>">

<p>
</fieldset>
<div/>
<% include foot %>